@model CareerModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Crear Carrera</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="ID_Career">Clave</label>
            <input asp-for="ID_Career" class="form-control" />
            <span asp-validation-for="ID_Career" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Career">Nombre</label>
            <input asp-for="Career" class="form-control" />
            <span asp-validation-for="Career" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">
            Crear
        </button>
        <a asp-controller="Career" asp-action="Index" class="btn btn-secondary" style="width: 150px">
            Regresar
        </a>
    </div>
    
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

